.container {
  padding: 32px;
  background-color: #d15b3e;
  color: rgb(223, 221, 221);
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 32px;
  padding: 32px;
  flex-wrap: wrap;
  font-size: 100%;
}

.figureContainer {
  text-align: center;
}

.figureContainer h2 {
  color: white;
  font-size: 3rem;
}

.countInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
